[data-elm-hot="true"] {
  height: inherit;
}

div.header {
  height: 250px;
  background-color: #2E9B7D;
  color:  #FFFFFF;
  padding: 100px;
}

/* div.warota-component {
  margin: 100px
} */

div.warota-component > h1 {
  font-size: 30px;
  color: #000000
}

img.change {
  border-radius: 50%;
  box-shadow: 2px 2px #000000;
  margin: 10px;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

img {
  margin-top: 20px;
}

img.eye0 {
  position: absolute;
  left: 35%;
  top: 60%;
}

img.eye1 {
  position: absolute;
  left: 37%;
  top: 60%;
}

img.eye2 {
  position: absolute;
  left: 37%;
  top: 60%;
}

img.eye3 {
  position: absolute;
  left: 37%;
  top: 57%;
}

img.eye4 {
  position: absolute;
  left: 40%;
  top: 57%;
}

img.mouth {
  position: absolute;
  top : 72%;
  left: 40%;
}
